*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}
.header{
    height: 0px;
    background-color: purple;
}

.slider{
    flex: 1;
    overflow: hidden; /*Para não ter barra de rolagem*/
}
.slider--width{
    height: 100%;
    display: flex; /*ao lado da outra*/
    transition: all ease 0.7s;
}
.slider--item{
    width: 100vw;
    height: inherit; /*herda a altura*/
    background-position: center;
    background-size: cover; /*adapta conforme a tela*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
}
.slider--controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider--control{
    width: 30px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.slider--control:hover{
    background-color: rgba(255, 255, 255, 0.123);
}
.material-symbols-outlined {
    font-variation-settings:
    'wght' 700,
    'opsz' 48;
    padding: 17rem 7px;
    color: #c0c0c0;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .material-symbols-outlined {
        font-variation-settings:
        'wght' 700,
        'opsz' 48;
        padding: 9rem 7px;
        color: #c0c0c0;
    }
}